.content {
    margin-top: 100px;
    text-align: center;
}

.currency-input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.currency-converter select {
    padding: 10px;
    border: none;
}

.news {
    margin-top: 50px;
}

.news select {
    margin: 0 auto;
}

#articles .article {
    border: none;
    margin: 10px auto;
    padding: 20px 0 50px 0;
}

.dateSort {
    float: right;
}

.graph {
    margin-top: 50px;
}

.graph .selectCurrency {
    margin-top: -20px;
}

select {
    padding: 5px;
    border: 2px solid rgb(0, 195, 255);
    border-radius: 5px;
    background-color: white;
}
select:hover {
    padding: 5px;
    border: 2px solid rgb(0, 195, 255);
    border-radius: 5px;
    background-color: white;
}

.dateSort button {
    border: 2px solid rgb(0, 195, 255);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
}

.dateSort button:active {
    border: 2px solid rgb(0, 142, 185);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
}

.graph canvas {
    margin-top: 40px;
}

.article-img {
    max-width: 100%;
}

.article .title {
    font-weight: 600;
}

.switchCurrency {
    text-align: center;
    cursor: pointer;
}
.switchIcon {
    height: 20px;
    margin: 30px 0px 0 36px;
}

.switchIconConverter {
    height: 20px;
    margin: 0px 5px 10px 0px;
}

.spacer {
    width: 60px;
}

.line {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 1px;
    background-color: grey;
}

.logout {
    margin-left: 20px;
    font-weight: 700;
    color:rgb(161, 25, 25) !important;
}

.user-icon {
    height: 16px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.user-container {
    display: inline-block;
    width: 40px;
}

.user-bg {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin:-20px auto 0 auto;
    background-color: rgb(0, 195, 255);
}

.user-letter {
    color: white !important;
    text-align: center;
    font-weight:800;
    font-size: 19px;
}

.tg  {border-collapse:collapse;border-spacing:0;margin:0 auto;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:20px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}