<!doctype html>
<html lang="en">
{% include ['head.html'] %}

<body>
  {% include ['navbar.html'] %}
  <div class="main_page">

    <div class="container">
        <div class="row">
          <div class="col-4 p-3">
            <form class="currency_form" action="{{ url_for('save_conversion') }}" method="post">
              <h3>Convert Currencies</h3><br>
              <input type="text" placeholder="Enter Value" name="input-amount-1" class="currency-input" id="input-amount-1">
              <select name="currency-input-1" id="currency-selector-1" onchange="updatevalue()"></select>
              <br>
              <div class="col d-flex justify-content-center">
                <a class="switchCurrency" onclick="switchCurrency()"><img class="switchIconConverter" src="{{ url_for('static', filename='img/repeat-solid.svg') }}"></a>
              </div>
              <br>
              <input type="text" name="input-amount-2" class="currency-input" id="input-amount-2">
              <select name="currency-input-2" id="currency-selector-2" onchange="updatevalue()"></select>
              <p id="conversion-rate-container"><span id="conversion-rate"></span></p>
              <input class="button max-width-button justify-content-center" type="submit" value="Save Conversion"><br>
              <a href="{{ url_for('profile') }}" class="button max-width-button" id="view_conversions">View Saved Conversions</a>
              {% if msg %}
              <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="text-decoration: none;">&times;</a>
                {{ msg }}
              </div>
              {% endif %}
            </form>
          </div>
          <div class="col-6 offset-1 p-3">
            <div id="main_text_box">
              <h3>Currency Converter</h3>
              <p>Current & historical exchange rates</p>
              <p>Published by the European Central Bank</p><br>
              <p>Rates are refreshed 16:00 CET (Central European Time)</p>
              <p>Enter the value and currency you wish to convert from</p>
              <p>Select the currency you would like to convert to and you are done!</p>
              <p> Sign up for an account to save your conversions to a list for safe keeping</p>
            </div>
          </div>
        </div>
        
      </div>


  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>



</html>