<!doctype html>
<html lang="en">
  {% include ['head.html'] %}

  <body>
    {% include ['navbar.html'] %}
    <div class="container">
      <div class="content">
        <div class = "register_form">
        <p>{{ msg }}</p>
        <form method="post">
            <h4>Register your Account</h4>
            <label id = "username_input" for="username">Username</label>
            <input id = "username_input" name="username" id="username" required><br>
            <label id = "password_input" for="password">Password</label>
            <input id = "password_input" type="password" name="password" id="password" required><br>
            <input class="button" id = registrationbtn type="submit" value="Register"><br>
          </form>

          <br><h5>Already have an account?</h5><br>
          <a id="bluebtn" href="/auth/login" style="text-decoration: none;color: white;text-decoration: none;border: none;padding: 5px 20px;border-radius: 5px;background-color: rgb(33 109 255 / 69%);transition: 0.2s ease-in-out all;"> Login Instead</a>
        </div>
     </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      $(".loading-container").hide();
      $(".container").show();
    </script>

  </body>

</html>

